[Unit]
Description=Dockerhole Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a dockerhole
ExecStop=/usr/bin/docker stop -t 2 dockerhole

[Install]
WantedBy=local.target
